:root{
    --footer-color : black;
}
/* importfontchu moi */
@font-face {
    font-family: 'LogoFont';
    src: url('/font/UTM-Hanzel.woff2') format('woff2'),
         url('/font/UTM-Hanzel.woff') format('woff'),
         url('/font/UTM-Hanzel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
/* offcanvas-header */
.offcanvas-header{
    background-color: rgb(0, 0, 0,0.1);
}
.offcanvas-header h5{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}
.navbar{
    background-color: rgb(255, 255, 255, 1)!important;
    border-radius:0 0 10px 10px;
    border: 2px white solid;
    opacity: 100;
}
.logo-container{
    width: 15%;
    height: 100%;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
#nav-menu{
    display: flex;
    position: absolute;
    margin-left:75% ;
}
#nav-menu h4{
    margin: 10px;
    margin-right: 20%;
    text-decoration: none;
    width: 15%;
}
#nav-menu h4 a{
    text-decoration: none;
    margin-right: 6vw;
    color: black;
    font-weight: 700;
}
#nav-menu button{
    margin-left: 0;
}
/* Cacrousel */
.carousel-inner{
    position: relative;
}
.carousel-inner_content{
    position:absolute;
    top: calc(30%);
    left: calc(10%);
    z-index: 50;
    color: white;
    /* background-color: black; */
    border-radius: 20px;
    text-align: center;
}
.carousel-inner_content h3{
    /* color: rgb(253,185,46); */
    color: white;
    font-family: 'LogoFont', sans-serif;
    /* font-family: "Abril Fatface", serif; */
    /* background-color: white; */
    font-size: 8rem;
    font-weight: 600;
    border-radius: 15px;
    padding: 10px 30px;
    text-shadow: 
    10px 10px 0 black,  
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black;   
}
.carousel-inner_content h3 span{
    color: white;
    font-family: 'LogoFont', sans-serif;
}
.carousel-inner_content p{
    font-size: 3rem;
    font-weight: 600; 
    text-shadow: 
    0px 0px 0 black,  
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px -1px 0 black; 
}
.carousel-inner_content span{
    color: rgb(63,63,66);
}
/* fix khoảng cách giữa các icon */
.icon-container{
        display: flex;
        margin-right: 30px;
}
#footer-socialmedia{
    border-bottom: 2px black solid;
}
#footer-socialmedia span{
    font-size: 25px;
    font-weight: 600;
}
/* style-tất cả element trong footer */
footer span{
    color: var(--footer-color);
}
/* Style icon -footer*/
.icon-container a i{
    font-size: 2rem;
    color: var(--footer-color);
}
#footer-col{
   color: black;
}
#footer-col h6{
    font-family: "Abril Fatface", serif;
}
#footer-col i{
    margin-right: 10px;
}
/* link */
#footer-link-1{
    color:var(--footer-color);
}
#footer-link-2{
    color:var(--footer-color);
}
#footer-link-2 a{
    color:var(--footer-color);
}
#footer-copyright{
    color: var(--footer-color);
}